* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  display: flex;
}

.list-box {
  margin: 50px auto;
}

.list {
  width: 960px;
  padding: 20px;
}

.list:nth-child(1) {
  background-color: #ebebeb;
}

.list:nth-child(3) {
  background-color: #ebebeb;
}

.list:nth-child(5) {
  background-color: #ebebeb;
}

.list:nth-child(7) {
  background-color: #ebebeb;
}

main {
  width: 960px;
  margin: 0 auto 50px;
  display: flex;
  flex-wrap: wrap;
}

.box1 {
  width: 30%;
  height: 200px;
  margin: 0 5% 40px 0;
  background-color: rgb(255, 123, 0);
}

.box2 {
  width: 30%;
  height: 200px;
  margin: 0 5% 40px 0;
  background-color: rgb(255, 217, 0);
}

.box3 {
  width: 30%;
  height: 200px;
  margin-bottom: 40px;
  background-color: rgb(255, 217, 0);
}

.box4 {
  width: 30%;
  height: 200px;
  margin: 0 5% 40px 0;
  background-color: rgb(255, 217, 0);
}

.box5 {
  width: 30%;
  height: 200px;
  margin: 0 5% 40px 0;
  background-color: rgb(255, 123, 0);
}

.box6 {
  width: 30%;
  height: 200px;
  margin-bottom: 40px;
  background-color: rgb(255, 217, 0);
}

.box7 {
  width: 30%;
  height: 200px;
  margin-right: 5%;
  background-color: rgb(255, 217, 0);
}

.box8 {
  width: 30%;
  height: 200px;
  margin-right: 5%;
  background-color: rgb(255, 217, 0);
}

.box9 {
  width: 30%;
  height: 200px;
  background-color: rgb(255, 123, 0);
}
